@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@font-face {
  font-family: "Get Schwifty";
  src: url("./assets/fonts/get_schwifty.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  source: StackOverflow
  link: https://stackoverflow.com/questions/9421551/how-do-i-remove-all-default-webkit-search-field-styling

  #######################################################
*/

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
/* ###################################################### */

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

@keyframes opacity-animation {
  from{
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.opacity-animation {
  animation: opacity-animation 700ms linear;
}